---
import { languages } from '~/i18n/ui';
import { replacePermalinkLocale } from '~/utils/permalinks';

export interface Props {
  label?: string;
  class?: string;
}

const {
  label = 'Select language',
  class:
    className = 'uppercase hover:text-link dark:hover:text-white px-4 py-3 flex items-center',
} = Astro.props;
---

{
  <div class={className} aria-label={label}>
    {Object.entries(languages).map(([lang, label]) => (
      <a href={replacePermalinkLocale(Astro.url.pathname, lang)} title={label}
        class:list={[
          { 'active': lang === Astro.currentLocale },
        ]}
      >{lang}</a>
    ))}
  </div>
}

<style>
  .active {
    @apply text-white underline;
  }
</style>
